body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px;
  background-color: #fff;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #fff;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; 
  width: 100%;
}

.hero-text {
  flex: 1;
  max-width: 50%;
  color: #333;
  padding-right: 20px; 
  margin-left: 150px;
}

.hero-text h2 {
  font-size: 15px;
  color: red;
}

.hero-text h1 {
  font-size: 75px;
  font-weight: bold;
  margin: 10px 0;
  line-height: 1;
}

.hero-text span {
  color: orange;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
  margin-right: 150px;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px; 
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #ff9800;
}

.top-destinations {
  padding: 50px;
  text-align: center;
  background-color: #fff;
}

.destination-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.destination-card img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.destination-card img:hover {
  transform: scale(1.02); 
}

.food-recommendation {
  padding: 50px;
  text-align: center;
  background-color: #fff;
}

.food-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.food-card img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.food-card img:hover {
  transform: scale(1.02); 
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #222;
  color: white;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav:hover {
  background-color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
  margin-top: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: 100px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

.destination-title h2{
  font-size: xx-large;
  font-weight: bold;
}

.food-title h2{
  font-size: xx-large;
  font-weight: bold;
}